/* Primary text color - #212121 */
/* Secondary text color - #757575 */
/* background color - #E5E5E5; */
/* hover color primary - #FFFFFF */
/* hover color secondary - #2196F3 */
/* footer bcg - #2F303A */
/* footer email, tel color - rgba(255, 255, 255, 0.6) */

/* ----------------ОБЩЕЕ---------------- */

body {
  background-color: #ffffff;
  color: var(--Primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

:root {
  --Primary-text-color: #212121;
  --hover-background-color: #2196f3;
  --hover-text-color: #ffffff;
  --secondary-text-color: #757575;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 2px solid teal; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--hover-background-color);
  text-decoration: none;
}

.logo-span-header {
  color: var(--Primary-text-color);
}

.logo-span-footer {
  color: #ffffff;
}

.header-list {
  display: flex;
}

.header-item {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 2%;
}

.header-item + .header-item {
  margin-left: 50px;
}

.header-list-link {
  transition: var(--animation);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--Primary-text-color);
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 2%;
}

.header-list-link:hover,
.header-list-link:focus {
  color: var(--hover-background-color);
}

.current {
  position: relative;
  color: var(--hover-background-color);
}

.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  content: '';
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-background-color);
}

.contact-link {
  transition: var(--animation);

  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 2%;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--hover-background-color);
}

.contact-link:hover .mail-icon,
.contact-link:focus .mail-icon {
  fill: var(--hover-background-color);
}

.contact-link:hover .tel-icon,
.contact-link:focus .tel-icon {
  fill: var(--hover-background-color);
}

.contact-list {
  display: flex;
}

.contact-item + .contact-item {
  margin-left: 50px;
}

.mail-icon {
  transition: var(--animation);
  margin-right: 10px;
}

.tel-icon {
  transition: var(--animation);
  margin-right: 10px;
}

.header-connect {
  margin-left: auto;
}

/* ----------------PAGE WEBSTUDIO--------------- */

/* ---------------MAIN------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* --------------------HERO--------------- */

.hero {
  padding: 200px 4px;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bcg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  position: relative;
  padding-right: 0;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: calc(60 / 44);
  letter-spacing: 6%;
  color: var(--hover-text-color);
}

.hero-button {
  transition: var(--animation);

  display: inline-block;
  padding: 10px 32px;
  border: transparent;
  border-radius: 4px;
  margin-top: 20px;

  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: calc(30 / 16);
  letter-spacing: 6%;
  color: var(--hover-text-color);
  background-color: var(--hover-background-color);
}

.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--animation);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--hover-text-color);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  transition: var(--animation);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--hover-text-color);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--hover-background-color);
}

.close-icon {
  fill: #000000;
}

.modal-button:hover .close-icon,
.modal-button:focus .close-icon {
  fill: var(--hover-text-color);
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--Primary-text-color);
}

.input-form {
  position: relative;
  text-align: left;
  margin-bottom: 10px;
}

.modal-input {
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: var(--animation);
}

.modal-input:focus-within + .modal-icon {
  transition: var(--animation);
  fill: var(--hover-background-color);
}

.modal-label {
  font-size: 12px;
  font-weight: 400;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
}

.modal-textarea {
  outline: none;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: var(--animation);
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--hover-background-color);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 13px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.checkbox-label .checkbox-icon-span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-agreement {
  margin-right: 7px;
}

.checkbox-agreement:checked + .checkbox-icon-span {
  background-color: var(--hover-background-color);
  border-color: var(--hover-background-color);
}

.checkbox-agreement-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--hover-background-color);
  border-bottom: 1px solid var(--hover-background-color);
}

.modal-submit-button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background-color: var(--hover-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--hover-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: var(--animation);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: #188ce8;
}

/* ----------------ABOUT---------------- */

.about-list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.about-list-item + .about-list-item {
  margin-left: 30px;
}

.features {
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.about-list-aftertitle {
  width: 270px;

  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 3%;
  color: var(--secondary-text-color);
}

.about-list-title {
  margin-bottom: 10px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 3%;
}

.portfolio {
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 3%;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-list-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.image-wrapper {
  position: relative;
}

.portfolio-wrapper {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.portfolio-title {
  font-weight: 900;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hover-text-color);
}

/* -------------------TEAM----------------- */

.our-team {
  background-color: #f5f4fa;
}

.team {
  text-align: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 3%;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.team-list-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;

  background-color: #ffffff;
  border-bottom: solid 1px transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list-title {
  text-align: center;
  line-height: calc(19 / 16);
  letter-spacing: 3%;
}

.team-list-aftertitle {
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  line-height: calc(19 / 16);
  letter-spacing: 3%;
  color: var(--secondary-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  transition: var(--animation);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-icon {
  transition: var(--animation);
  fill: #afb1b8;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--hover-background-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

/*-------------------CLIENTS----------------------  */

.clients-title {
  font-weight: 900;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--Primary-text-color);
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  transition: var(--animation);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--hover-background-color);
}

.clients-icon {
  transition: var(--animation);
  fill: #afb1b8;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--hover-background-color);
}

/* ------------------PAGE PORTFOLIO----------------- */

/* -------------------MAIN-------------------- */

.hero-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.hero-list-item + .hero-list-item {
  margin-left: 8px;
}

.hero-list-button {
  transition: var(--animation);
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;

  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 3%;
  background-color: #f5f4fa;
}

.hero-list-button:hover,
.hero-list-button:focus {
  color: var(--hover-text-color);
  background-color: var(--hover-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 9 - 270px);
  margin-bottom: -30px;
  margin-left: -30px;
}

.projects-list-item {
  transition: var(--animation);
  margin-bottom: 30px;
  margin-left: 30px;

  text-align: left;
}

.project-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project-title {
  font-weight: 900;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 6%;
  color: var(--Primary-text-color);
}

.project-title-disc {
  font-weight: 400;
  line-height: calc(30 / 16);
  letter-spacing: 3%;
  color: var(--secondary-text-color);
}

.projects-list-item:hover,
.projects-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover,
.project-link:focus {
  color: var(--hover-text-color);
  background-color: var(--hover-background-color);
}

.projects-wrapper {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: var(--animation);

  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--hover-text-color);
}

.projects-list-item:hover .project-overlay {
  transform: translateY(0);
}

/*  ----------------FOOTER---------------- */

.footer {
  background-color: #2f303a;
}

.footer-container {
  display: flex;
}

.footer-list {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 3%;
  color: var(--hover-text-color);
}

.logo-item {
  margin-bottom: 20px;
}

.address-item + .address-item {
  margin-top: 9px;
}

.address-item .street {
  color: #ffffff;
}

.footer-contacts {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--hover-background-color);
}

.join-container {
  padding-top: 72px;
  margin-left: 70px;
}

.join {
  font-weight: 900;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  margin-top: 20px;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  transition: var(--animation);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--hover-background-color);
}

.subscribe {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 900;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hover-text-color);
}

.subscribe-container {
  padding-top: 72px;
  margin-left: 93px;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;

  background-color: #2f303a;
}

.subscribe-input::placeholder {
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  background-color: var(--hover-background-color);
  color: var(--hover-text-color);
  font-weight: 900;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  transform: var(--animation);
}

.subscribe-icon {
  margin-left: 10px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  color: var(--hover-text-color);
  background-color: #188ce8;
}
